Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo0, todo1, todo2

update
  nx.json
Due: none

update
  .github/workflows/pr.yml
  nx.json
  package.json
  todolite/project.json
  todoliteup_1/project.json
Due: todo0, todo1

update
  .idea/workspace.xml
  todoliteup_2/test/screens/run_all_screen_test.dart
Due: todo2

update
  codecov.yml
Due: none

update
  .idea/workspace.xml
  codecov.yml
Due: none

update
  .github/workflows/pr.yml
  .idea/workspace.xml
Due: none

update
  .idea/workspace.xml
  nx.json
  package.json
  todoliteup_1/project.json
Due: todo1

update
  .idea/workspace.xml
  nx.json
  package.json
  todolite/project.json
  todoliteup_1/project.json
  todoliteup_2/project.json
Due: todo0, todo1, todo2

update
  .github/workflows/pr.yml
Due: none

update
  .github/workflows/pr.yml
  .github/workflows/todo2_lcov.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/todo2_lcov.yml
Due: none

update
  .github/workflows/todo0_lcov.yml
  .github/workflows/todo1_lcov.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/todo0_lcov.yml
  .github/workflows/todo1_lcov.yml
  .github/workflows/todo2_lcov.yml
Due: none

update
  .github/workflows/pr.yml
  .github/workflows/todo2_lcov.yml
  .idea/workspace.xml
  nx.json
  package.json
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/todo2_lcov.yml
  nx.json
  package.json
Due: none

update
  .github/workflows/todo2_lcov.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/todo0_lcov.yml
  .github/workflows/todo1_lcov.yml
  todolite/project.json
  todoliteup_1/project.json
Due: todo0, todo1

update
  .github/workflows/todo0_lcov.yml
  .github/workflows/todo1_lcov.yml
  .github/workflows/todo2_lcov.yml
  codecov.yml
Due: none

update
  .github/workflows/todo1_lcov.yml
  .github/workflows/todo2_lcov.yml
Due: none

Update todo0_lcov.yml
  .github/workflows/todo0_lcov.yml
Due: none

update
  todoliteup_2/test/screens/run_all_screen_test.dart
Due: todo2

update
  .idea/workspace.xml
  todoliteup_1/test/data/local_data_source_test.dart
  todoliteup_1/test/domain/usecase_test.dart
Due: todo1

update
  .idea/workspace.xml
  todoliteup_2/codecov.yml
Due: todo2

update
  .github/workflows/todo0_lcov.yml
  .github/workflows/todo1_lcov.yml
  .github/workflows/todo2_lcov.yml
  .idea/workspace.xml
Due: none

update
  todoliteup_2/test/data/local_data_source_test.dart
  todoliteup_2/test/domain/usecase_test.dart
  todoliteup_2/test/screens/home_test.dart
  todoliteup_2/test/screens/run_all_screen_test.dart
Due: todo2

update
  .idea/workspace.xml
  todolite/test/data/local_data_source_test.dart
Due: todo0

update
  .idea/workspace.xml
  README.md
Due: none

update
  .github/workflows/todo2_lcov.yml
  .idea/workspace.xml
  todoliteup_2/project.json
  todoliteup_2/test/screens/run_all_screen_test.dart
Due: todo2

update
  .github/workflows/todo2_lcov
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  todoliteup_2/project.json
Due: todo2

Path conditions:
  todo0: any of: todolite/
  todo1: any of: todoliteup_1/
  todo2: any of: todoliteup_2/
