Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo0, todo1, todo2

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    patch:
      default:
        target: 30%
    project:
      default:
        target: 50%
      todo0:
        target: 80%
        flags:
          - todo0
      todo1:
        target: 70%
        flags:
          - todo1
      todo2:
        target: 50%
        flags:
          - todo2

comment:
  behavior: default
  hide_project_coverage: false   # [true :: only show coverage on the git diff]
  layout: ' diff, flags, files'
  require_base: true            # [true :: must have a base report to post]
  require_changes: false         # if true: only post the comment if coverage changes
  require_head: true            # [true :: must have a head report to post]

flags:
  todo0:
    paths:
      - todolite/
  todo1:
    paths:
      - todoliteup_1/
  todo2:
    paths:
      - todoliteup_2/

#component_management:
#  default_rules: # default rules that will be inherited by all components
#    statuses:
#      - type: project # in this case every component that doens't have a status defined will have a project type one
#        target: auto
#        branches:
#          - "!main"
#  individual_components:
#    - component_id: todo-1
#      name: todo-c-1
#      paths:
#        - todoliteup_1/**
#      statuses:
#        - type: project
#          target: auto
#    - component_id: todo-2
#      name: todo-c-2
#      paths:
#        - todoliteup_2/**
#      statuses:
#        - type: project
#          target: auto

#flag_management:
#  default_rules:
#    carryforward: true
#    statuses:
#      - type: project
#        target: auto
#        threshold: 1%
#      - type: patch
#        target: 70%
#  individual_flags:
#    - name: todo_1
#      paths:
#        - todoliteup_1/
#      carryforward: true
#      statuses:
#        - type: project
#          target: 80%
#        - type: patch
#          target: 100%
#    - name: todo_2
#      paths:
#        - todoliteup_2/
#      carryforward: true
#      statuses:
#        - type: project
#          target: 40%
#        - type: patch
#          target: 100%

Update
  .github/actions/setup-flutter/action.yml
Due: none

Update
  .github/workflows/manual-dev-deploy.yml
Due: none

Update
  todoliteup_1/test/domain/usecase_test.dart
Due: todo1

Update
  todoliteup_2/project.json
Due: todo2

Update
  todolite/lib/main.dart
  todolite/project.json
Due: todo0

Config dependabot
  .github/dependabot.yml
  .github/pull_request_template.md
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Fix dependabot
  .github/dependabot.yml
Due: none

Upgrade version
  .github/dependabot.yml
  .idea/workspace.xml
  todolite/ios/Flutter/AppFrameworkInfo.plist
  todolite/ios/Podfile
  todolite/ios/Podfile.lock
  todolite/ios/Runner.xcodeproj/project.pbxproj
  todolite/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  todolite/pubspec.lock
  todolite/pubspec.yaml
  todoliteup_1/ios/Flutter/AppFrameworkInfo.plist
  todoliteup_1/ios/Podfile
  todoliteup_1/ios/Podfile.lock
  todoliteup_1/ios/Runner.xcodeproj/project.pbxproj
  todoliteup_1/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  todoliteup_1/pubspec.lock
  todoliteup_1/pubspec.yaml
  todoliteup_2/ios/Podfile.lock
  todoliteup_2/pubspec.yaml
Due: todo0, todo1, todo2

Update
  .github/dependabot.yml
Due: none

Hot fix config
  .github/dependabot.yml
  todolite/pubspec.lock
  todolite/pubspec.yaml
Due: todo0

Create scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Due: none

Fix all project lint
  .github/dependabot.yml
  .idea/workspace.xml
  README.md
  todolite/lib/core/error/failures.dart
  todolite/lib/models/entity.dart
  todolite/lib/models/entity_factory.dart
  todolite/lib/models/task.dart
  todolite/lib/screens/task/task_page.dart
  todolite/pubspec.yaml
  todoliteup_1/lib/core/error/failures.dart
  todoliteup_1/lib/main.dart
  todoliteup_1/lib/models/entity.dart
  todoliteup_1/lib/models/entity_factory.dart
  todoliteup_1/lib/models/task.dart
  todoliteup_1/pubspec.yaml
Due: todo0, todo1

Update
  .github/dependabot.yml
  .idea/workspace.xml
Due: none

Update pubspec.yaml
  todoliteup_1/pubspec.yaml
Due: todo1

Update pubspec.yaml
  todolite/pubspec.yaml
Due: todo0

Update create_task_flow.yaml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
Due: todo2

Update pubspec.yaml
  todoliteup_2/pubspec.yaml
Due: todo2

Update maestro depend on flatform
  .idea/workspace.xml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
  todoliteup_2/.maestro/subflow/delete_task_flow.yaml
  todoliteup_2/.maestro/subflow/done_task_flow.yaml
Due: todo2

Update delete_task_flow.yaml
  todoliteup_2/.maestro/subflow/delete_task_flow.yaml
Due: todo2

Upgrade todo2 android gradle
  .idea/workspace.xml
  todoliteup_2/android/app/build.gradle
  todoliteup_2/android/app/src/debug/AndroidManifest.xml
  todoliteup_2/android/app/src/main/AndroidManifest.xml
  todoliteup_2/android/app/src/profile/AndroidManifest.xml
  todoliteup_2/android/build.gradle
  todoliteup_2/android/gradle.properties
  todoliteup_2/android/gradle/wrapper/gradle-wrapper.properties
  todoliteup_2/pubspec.lock
  todoliteup_2/pubspec.yaml
Due: todo2

Update android-maestro.yml
  .github/workflows/android-maestro.yml
Due: none
