Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo-1, todo-2

update
  .github/workflows/dart.yml
Due: none

update
  .github/workflows/dart.yml
  codecov.yml
Due: none

update
  .github/workflows/dart.yml
  todoliteup_2/codecov.yml
Due: todo-2

update
  .gitignore
Due: none

update
  .gitignore
  todoliteup_2/.github/workflows/dart.yml
  todoliteup_2/codecov.yml
Due: todo-2

update
  todoliteup_1/.github/workflows/dart.yml
  todoliteup_1/.gitignore
  todoliteup_1/codecov.yml
Due: todo-1

update
  .github/workflows/dart.yml
  .gitignore
Due: none

update
  .gitignore
  todoliteup_1/.gitignore
  todoliteup_1/lib/common/loading_widget.dart
  todoliteup_1/lib/common/no_data_widget.dart
  todoliteup_1/lib/core/error/exceptions.dart
  todoliteup_1/lib/core/error/failures.dart
  todoliteup_1/lib/core/usecases/usecase.dart
  todoliteup_1/lib/data/data_injection_container.dart
  todoliteup_1/lib/data/datasources/data_source.dart
  todoliteup_1/lib/data/datasources/local_data_source.dart
  todoliteup_1/lib/data/repositories/repository.dart
  todoliteup_1/lib/domain/domain_injection_container.dart
  todoliteup_1/lib/domain/middle_handlers/middle_handle_result.dart
  todoliteup_1/lib/domain/usecases/ts_create_task.dart
  todoliteup_1/lib/domain/usecases/ts_delete_task.dart
  todoliteup_1/lib/domain/usecases/ts_get_task_detail.dart
  todoliteup_1/lib/domain/usecases/ts_get_tasks.dart
  todoliteup_1/lib/domain/usecases/ts_update_task.dart
  todoliteup_1/lib/injection_container.dart
  todoliteup_1/lib/main.dart
  todoliteup_1/lib/models/entity.dart
  todoliteup_1/lib/models/entity_factory.dart
  todoliteup_1/lib/models/task.dart
  todoliteup_1/lib/res/const.dart
  todoliteup_1/lib/res/strings.dart
  todoliteup_1/lib/routes/app_pages.dart
  todoliteup_1/lib/routes/app_routes.dart
  todoliteup_1/lib/screens/home/components/list_tab.dart
  todoliteup_1/lib/screens/home/components/task_item.dart
  todoliteup_1/lib/screens/home/controllers/home_controller.dart
  todoliteup_1/lib/screens/home/controllers/task_controller.dart
  todoliteup_1/lib/screens/home/home_binding.dart
  todoliteup_1/lib/screens/home/home_page.dart
  todoliteup_1/test/data/local_data_source_test.dart
  todoliteup_1/test/domain/usecase_temp.dart
  todoliteup_1/test/screens/home_temp.dart
  todoliteup_1/test/task_test.dart
Due: todo-1

update
  todoliteup_1/.gitignore
  todoliteup_1/lib/common/loading_widget.dart
  todoliteup_1/lib/common/no_data_widget.dart
  todoliteup_1/lib/core/error/exceptions.dart
  todoliteup_1/lib/core/error/failures.dart
  todoliteup_1/lib/core/usecases/usecase.dart
  todoliteup_1/lib/data/data_injection_container.dart
  todoliteup_1/lib/data/datasources/data_source.dart
  todoliteup_1/lib/data/datasources/local_data_source.dart
  todoliteup_1/lib/data/repositories/repository.dart
  todoliteup_1/lib/domain/domain_injection_container.dart
  todoliteup_1/lib/domain/middle_handlers/middle_handle_result.dart
  todoliteup_1/lib/domain/usecases/ts_create_task.dart
  todoliteup_1/lib/domain/usecases/ts_delete_task.dart
  todoliteup_1/lib/domain/usecases/ts_get_task_detail.dart
  todoliteup_1/lib/domain/usecases/ts_get_tasks.dart
  todoliteup_1/lib/domain/usecases/ts_update_task.dart
  todoliteup_1/lib/injection_container.dart
  todoliteup_1/lib/main.dart
  todoliteup_1/lib/models/entity.dart
  todoliteup_1/lib/models/entity_factory.dart
  todoliteup_1/lib/models/task.dart
  todoliteup_1/lib/res/const.dart
  todoliteup_1/lib/res/strings.dart
  todoliteup_1/lib/routes/app_pages.dart
  todoliteup_1/lib/routes/app_routes.dart
  todoliteup_1/lib/screens/home/components/list_tab.dart
  todoliteup_1/lib/screens/home/components/task_item.dart
  todoliteup_1/lib/screens/home/controllers/home_controller.dart
  todoliteup_1/lib/screens/home/controllers/task_controller.dart
  todoliteup_1/lib/screens/home/home_binding.dart
  todoliteup_1/lib/screens/home/home_page.dart
Due: todo-1

update
  .github/workflows/dart.yml
  todoliteup_1/.gitignore
  todoliteup_1/lib/data/data_injection_container.dart
  todoliteup_1/lib/data/datasources/data_source.dart
  todoliteup_1/lib/data/datasources/local_data_source.dart
  todoliteup_1/lib/data/repositories/repository.dart
  todoliteup_1/lib/domain/usecases/ts_create_task.dart
  todoliteup_1/lib/domain/usecases/ts_get_task_detail.dart
  todoliteup_1/lib/domain/usecases/ts_get_tasks.dart
  todoliteup_1/lib/domain/usecases/ts_update_task.dart
  todoliteup_1/lib/main.dart
  todoliteup_1/lib/routes/app_pages.dart
  todoliteup_1/lib/screens/home/components/list_tab.dart
  todoliteup_1/lib/screens/home/components/task_item.dart
  todoliteup_1/lib/screens/home/controllers/home_controller.dart
  todoliteup_1/lib/screens/home/controllers/task_controller.dart
  todoliteup_1/lib/screens/home/home_binding.dart
  todoliteup_1/lib/screens/home/home_page.dart
  todoliteup_1/pubspec.yaml
  todoliteup_1/test/data/local_data_source_test.dart
  todoliteup_1/test/domain/usecase_temp.dart
  todoliteup_1/test/screens/home_temp.dart
  todoliteup_1/test/task_test.dart
Due: todo-1

update
  todoliteup_1/lib/routes/app_pages.dart
  todoliteup_1/lib/screens/todo_home/components/list_tab.dart
  todoliteup_1/lib/screens/todo_home/components/task_item.dart
  todoliteup_1/lib/screens/todo_home/controllers/task_controller.dart
  todoliteup_1/lib/screens/todo_home/controllers/todo_controller.dart
  todoliteup_1/lib/screens/todo_home/home_binding.dart
  todoliteup_1/lib/screens/todo_home/home_page.dart
  todoliteup_1/test/screens/home_temp.dart
Due: todo-1

Update codecov.yml
  todoliteup_2/codecov.yml
Due: todo-2

update
  todoliteup_1/lib/main.dart
  todoliteup_1/lib/routes/app_pages.dart
  todoliteup_1/lib/routes/app_routes.dart
  todoliteup_1/lib/screens/splash/controllers/splash_controller.dart
  todoliteup_1/lib/screens/splash/splash_binding.dart
  todoliteup_1/lib/screens/splash/splash_page.dart
  todoliteup_1/test/screens/home_temp.dart
Due: todo-1

update
  .github/workflows/dart.yml
  codecov.yml
  todoliteup_1/.gitignore
  todoliteup_2/.github/workflows/dart.yml
Due: todo-1, todo-2

update
  codecov.yml
Due: none

update
  todoliteup_1/test/domain/usecase_temp.dart
  todoliteup_1/test/domain/usecase_test.dart
  todoliteup_2/lib/screens/account/account_page.dart
Due: todo-1, todo-2

Update codecov.yml
  codecov.yml
Due: none

Update dart.yml
  .github/workflows/dart.yml
Due: none

update
  todoliteup_1/test/domain/usecase_test.dart
  todoliteup_2/lib/screens/account/account_page.dart
Due: todo-1, todo-2

update
  todoliteup_1/test/screens/home_temp.dart
  todoliteup_1/test/screens/home_test.dart
Due: todo-1

update
  todoliteup_1/test/screens/home_test.dart
Due: todo-1

update
  codecov.yml
  todoliteup_1/test/domain/usecase_test.dart
Due: todo-1

update
  todoliteup_2/lib/screens/account/account_page.dart
Due: todo-2

update
  todolite/lib/data/data_injection_container.dart
  todolite/lib/data/datasources/data_source.dart
  todolite/lib/data/datasources/local_data_source.dart
  todolite/lib/data/repositories/repository.dart
  todolite/lib/domain/usecases/ts_create_task.dart
  todolite/lib/domain/usecases/ts_get_task_detail.dart
  todolite/lib/domain/usecases/ts_get_tasks.dart
  todolite/lib/domain/usecases/ts_update_task.dart
  todolite/lib/main.dart
  todolite/lib/res/const.dart
  todolite/lib/routes/app_pages.dart
  todolite/lib/screens/todo_home/components/list_tab.dart
  todolite/lib/screens/todo_home/components/task_item.dart
  todolite/lib/screens/todo_home/controllers/task_controller.dart
  todolite/lib/screens/todo_home/controllers/todo_controller.dart
  todolite/lib/screens/todo_home/task_binding.dart
  todolite/lib/screens/todo_home/task_page.dart
  todolite/pubspec.yaml
  todolite/test/screens/home_test.dart
Due: none

update
  todolite/test/data/local_data_source_test.dart
  todolite/test/domain/usecase_test.dart
  todolite/test/screens/home_test.dart
  todolite/test/task_test.dart
  todoliteup_1/test/task_test.dart
  todoliteup_2/test/task_test.dart
Due: todo-1, todo-2

Path conditions:
  todo-1: any of: todoliteup_1/
  todo-2: any of: todoliteup_2/
