Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo0, todo1, todo2

update
  .github/workflows/pr.yml
Due: none

update
  todoliteup_2/test/domain/usecase_test.dart
Due: todo2

update
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  todoliteup_2/lib/models/entity_factory.dart
  todoliteup_2/pubspec.lock
Due: todo2

udpate
  .idea/workspace.xml
  codecov.yml
Due: none

udpate
  .idea/workspace.xml
  todoliteup_1/test/domain/usecase_test.dart
Due: todo1

udpate
  todoliteup_1/test/domain/usecase_test.dart
Due: todo1

udpate
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/feedback/controllers/feedback_controller.dart
  todoliteup_2/lib/screens/feedback/feedback_binding.dart
  todoliteup_2/lib/screens/feedback/feedback_page.dart
  todoliteup_2/lib/screens/settings/settings_page.dart
Due: todo2

udpate
  .idea/workspace.xml
  todoliteup_2/lib/models/entity_factory.dart
Due: todo2

udpate
  codecov.yml
Due: none

udpate
  flutter/codecov.yml
Due: none

Update README.md
  README.md
Due: none

Add flutter config
  .github/actions/setup-flutter/action.yml
  .idea/workspace.xml
  todolite/.env
  todolite/project.json
  todoliteup_2/ios/Flutter/AppFrameworkInfo.plist
  todoliteup_2/ios/Podfile
  todoliteup_2/ios/Podfile.lock
  todoliteup_2/ios/Runner.xcodeproj/project.pbxproj
  todoliteup_2/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  todoliteup_2/pubspec.lock
  todoliteup_2/pubspec.yaml
  todoliteup_2/test/data/local_data_source_test.dart
  todoliteup_2/test/domain/usecase_test.dart
  todoliteup_2/test/screens/home_test.dart
Due: todo0, todo2

Update
  todoliteup_1/project.json
  todoliteup_2/project.json
Due: todo1, todo2

Update
  .github/workflows/pr.yml
Due: none

Update
  .github/actions/setup-flutter/action.yml
Due: none

Update
  .github/actions/setup-flutter/action.yml
  todolite/project.json
  todoliteup_1/project.json
  todoliteup_2/project.json
Due: todo0, todo1, todo2

Update
  .github/actions/setup-flutter/action.yml
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

Update
  .github/actions/setup-flutter/action.yml
  todoliteup_2/project.json
Due: todo2

Update
  todolite/project.json
  todoliteup_1/project.json
Due: todo0, todo1

Update
  .github/actions/setup-flutter/action.yml
  todoliteup_2/lib/main.dart
Due: todo2

Update
  todoliteup_2/lib/models/entity_factory.dart
Due: todo2

Update
  .idea/workspace.xml
  todoliteup_1/project.json
Due: todo1

Update
  todoliteup_2/project.json
  todoliteup_2/test/data/local_data_source_test.dart
  todoliteup_2/test/domain/usecase_test.dart
  todoliteup_2/test/screens/home_test.dart
Due: todo2

Update
  todoliteup_2/project.json
Due: todo2

Update
  .idea/workspace.xml
  todoliteup_2/lib/models/entity_factory.dart
Due: todo2

Update
  todolite/project.json
Due: todo0

Path conditions:
  todo0: any of: todolite/
  todo1: any of: todoliteup_1/
  todo2: any of: todoliteup_2/
