Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo0, todo1, todo2

update
  .github/actions/cache-codecov/action.yml
  .github/workflows/pr.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  todolite/project.json
  todoliteup_1/project.json
Due: todo0, todo1

update
  .github/workflows/pr.yml
  .idea/workspace.xml
Due: none

update
  todoliteup_1/project.json
Due: todo1

update
  .github/workflows/pr.yml
Due: none

update
  .idea/workspace.xml
  todolite/project.json
  todoliteup_1/project.json
  todoliteup_2/project.json
Due: todo0, todo1, todo2

update
  .idea/workspace.xml
  todolite/project.json
Due: todo0

update
  .idea/workspace.xml
  todoliteup_1/project.json
Due: todo1

update
  .github/workflows/pr.yml
  .idea/workspace.xml
  todoliteup_1/project.json
Due: todo1

update
  .github/actions/cache-codecov/action.yml
  .github/workflows/pr.yml
  .idea/workspace.xml
Due: none

update
  .idea/workspace.xml
  README.md
  codecov.yml
  todolite/project.json
  todoliteup_2/project.json
Due: todo0, todo2

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
  todoliteup_2/.maestro/create_task_flow.yaml
  todoliteup_2/.maestro/delete_task_flow.yaml
  todoliteup_2/.maestro/done_task_flow.yaml
  todoliteup_2/.maestro/main.yaml
  todoliteup_2/lib/res/strings.dart
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/home/home_page.dart
  todoliteup_2/project.json
Due: todo2

update
  todoliteup_2/lib/screens/home/home_page.dart
Due: todo2

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
  README.md
  todoliteup_2/.maestro/create_task_flow.yaml
  todoliteup_2/lib/screens/home/home_page.dart
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/android-maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
  todoliteup_2/.maestro/create_task_flow.yaml
  todoliteup_2/.maestro/delete_task_flow.yaml
  todoliteup_2/.maestro/done_task_flow.yaml
Due: todo2

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  todoliteup_2/project.json
Due: todo2

update
  .github/actions/cache-maestro/action.yml
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .github/actions/cache-maestro/action.yml
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

update
  .github/actions/cache-codecov/action.yml
  .github/actions/cache-maestro/action.yml
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .idea/workspace.xml
Due: none

update
  .github/workflows/android-maestro.yml
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/android-maestro.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/ios-maestro.yml
Due: none

Path conditions:
  todo0: any of: todolite/
  todo1: any of: todoliteup_1/
  todo2: any of: todoliteup_2/
