Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo0, todo1, todo2

update
  .github/workflows/ios-maestro.yml
Due: none

update
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/pr.yml
  .idea/workspace.xml
  todolite/project.json
  todoliteup_2/project.json
Due: todo0, todo2

update
  .github/actions/cache-codecov/action.yml
  .github/actions/cache-maestro/action.yml
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

update
  .github/workflows/android-maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

update
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/actions/cache-yarn/action.yml
  .github/workflows/ios-maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/android-maestro.yml
Due: none

update
  .github/workflows/maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/android-maestro.yml
  .github/workflows/maestro.yml
  .idea/workspace.xml
Due: none

update
  .github/workflows/maestro.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .idea/workspace.xml
  todoliteup_2/lib/screens/home/home_page.dart
Due: todo2

update
  .idea/workspace.xml
  todoliteup_2/.maestro/main.yaml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
  todoliteup_2/.maestro/subflow/delete_task_flow.yaml
  todoliteup_2/.maestro/subflow/done_task_flow.yaml
Due: todo2

update
  .idea/workspace.xml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
Due: todo2

update
  todoliteup_2/project.json
Due: todo2

update
  .idea/workspace.xml
Due: none

update
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .idea/workspace.xml
  todolite/project.json
  todoliteup_1/project.json
  todoliteup_2/project.json
Due: todo0, todo1, todo2

update
  .github/actions/setup-lcov/action.yml
  .github/workflows/pr.yml
  todoliteup_1/project.json
Due: todo1

update
  .idea/workspace.xml
  todolite/lib/common/loading_widget.dart
  todolite/lib/common/no_data_widget.dart
  todoliteup_1/lib/common/loading_widget.dart
  todoliteup_1/lib/common/no_data_widget.dart
  todoliteup_1/lib/screens/todo_home/home_page.dart
  todoliteup_2/lib/common/loading_widget.dart
  todoliteup_2/lib/common/no_data_widget.dart
  todoliteup_2/lib/models/entity_factory.dart
  todoliteup_2/lib/models/task.dart
  todoliteup_2/lib/screens/home/home_page.dart
Due: todo0, todo1, todo2

Fix test run
  .idea/workspace.xml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
  todoliteup_2/.maestro/subflow/delete_task_flow.yaml
  todoliteup_2/.maestro/subflow/done_task_flow.yaml
  todoliteup_2/lib/screens/home/home_page.dart
Due: todo2

update
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  codecov.yml
  todoliteup_2/.maestro/main.yaml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
  todoliteup_2/.maestro/subflow/delete_task_flow.yaml
  todoliteup_2/.maestro/subflow/done_task_flow.yaml
  todoliteup_2/analysis_options.yaml
  todoliteup_2/project.json
  todoliteup_2/pubspec.lock
  todoliteup_2/pubspec.yaml
Due: todo2

update
  .idea/workspace.xml
  todoliteup_2/.maestro/subflow/create_task_flow.yaml
  todoliteup_2/.maestro/subflow/delete_task_flow.yaml
  todoliteup_2/.maestro/subflow/done_task_flow.yaml
  todoliteup_2/lib/screens/home/home_page.dart
  todoliteup_2/test/screens/run_all_screen_test.dart
Due: todo2

update
  .idea/workspace.xml
  todolite/lib/main.dart
  todoliteup_1/lib/main.dart
  todoliteup_2/lib/main.dart
  todoliteup_2/test/data/local_data_source_test.dart
Due: todo0, todo1, todo2

update
  .idea/workspace.xml
  todoliteup_1/project.json
  todoliteup_1/test/domain/usecase_test.dart
Due: todo1

update
  .idea/workspace.xml
  codecov/codecov.yml
Due: none

rm
  .idea/shelf/Uncommitted_changes_before_Update_at_01_11_2023,_23_12_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Update_at_01_11_2023,_23_12_[Changes]1/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Update_at_01_11_2023__23_12__Changes_.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

update
  codecov.yml
  todoliteup_1/pubspec.lock
Due: todo1

update
  .github/workflows/pr.yml
  codecov.yml
Due: none

update
  .github/workflows/pr.yml
  todoliteup_1/project.json
Due: todo1

update
  .github/workflows/pr.yml
Due: none

Path conditions:
  todo0: any of: todolite/
  todo1: any of: todoliteup_1/
  todo2: any of: todoliteup_2/
