Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo-1, todo-2

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: 70% # overall project/ repo coverage
      todo-1:
        target: 90%
        flags:
          - todo-1
      todo-2:
        target: 60%
        flags:
          - todo-2

comment:
  behavior: default
  hide_project_coverage: false   # [true :: only show coverage on the git diff]
  layout: ' diff, flags, files'
  require_base: false            # [true :: must have a base report to post]
  require_changes: false         # if true: only post the comment if coverage changes
  require_head: false            # [true :: must have a head report to post]

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

component_management:
  individual_components:
    - component_id: todo-1
      name: todo-1
      paths:
        - todoliteup_1/
    - component_id: todo-2
      name: todo-2
      paths:
        - todoliteup_2/

flags:
  todo-1:
    paths: #note, accepts globs, not regexes
      - todoliteup_1/
    carryforward: true
  todo-2:
    paths: #note, accepts globs, not regexes
      - todoliteup_2/
    carryforward: true

update
  todoliteup_1/test/screens/home_test.dart
Due: todo-1

change file name
  todoliteup_1/test/screens/home_example.dart
  todoliteup_1/test/screens/home_test.dart
Due: todo-1

support
  todoliteup_1/test/screens/home_test.dart
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/support/controllers/support_controller.dart
  todoliteup_2/lib/screens/support/support_binding.dart
  todoliteup_2/lib/screens/support/support_page.dart
Due: todo-1, todo-2

update
  codecov.yml
Due: none

add individual_flags
  codecov.yml
Due: none

add message
  todoliteup_1/test/screens/home_temp.dart
  todoliteup_1/test/task_temp.dart
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/message/controllers/message_controller.dart
  todoliteup_2/lib/screens/message/message_binding.dart
  todoliteup_2/lib/screens/message/message_page.dart
Due: todo-1, todo-2

update
  todoliteup_1/test/task_temp.dart
Due: todo-1

settings
  todoliteup_1/test/data/local_data_source_temp.dart
  todoliteup_1/test/data/local_data_source_test.dart
  todoliteup_1/test/domain/usecase_temp.dart
  todoliteup_1/test/domain/usecase_test.dart
  todoliteup_1/test/screens/home_temp.dart
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/settings/controllers/settings_controller.dart
  todoliteup_2/lib/screens/settings/settings_binding.dart
  todoliteup_2/lib/screens/settings/settings_page.dart
Due: todo-1, todo-2

friends
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/friends/controllers/friends_controller.dart
  todoliteup_2/lib/screens/friends/friends_binding.dart
  todoliteup_2/lib/screens/friends/friends_page.dart
Due: todo-2

friends
  todoliteup_1/test/task_test.dart
Due: todo-1

update
  todoliteup_1/test/task_test.dart
Due: todo-1

friends
  codecov.yml
Due: none

friends
  .github/workflows/dart.yml
Due: none

update
  .github/workflows/dart.yml
Due: none

update
  todoliteup_1/test/data/local_data_source_temp.dart
  todoliteup_1/test/data/local_data_source_test.dart
Due: todo-1

Update codecov.yml
  codecov.yml
Due: none

rm screens
  todoliteup_2/lib/screens/account/account_binding.dart
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/animation_bg.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/friends/controllers/friends_controller.dart
  todoliteup_2/lib/screens/friends/friends_binding.dart
  todoliteup_2/lib/screens/friends/friends_page.dart
  todoliteup_2/lib/screens/home/home_page.dart
  todoliteup_2/lib/screens/login/controllers/login_controller.dart
  todoliteup_2/lib/screens/login/login_binding.dart
  todoliteup_2/lib/screens/login/login_page.dart
  todoliteup_2/lib/screens/message/controllers/message_controller.dart
  todoliteup_2/lib/screens/message/message_binding.dart
  todoliteup_2/lib/screens/message/message_page.dart
  todoliteup_2/lib/screens/settings/controllers/settings_controller.dart
  todoliteup_2/lib/screens/settings/settings_binding.dart
  todoliteup_2/lib/screens/settings/settings_page.dart
  todoliteup_2/lib/screens/support/controllers/support_controller.dart
  todoliteup_2/lib/screens/support/support_binding.dart
  todoliteup_2/lib/screens/support/support_page.dart
Due: todo-2

update
  .github/workflows/dart.yml
  codecov.yml
Due: none

update
  .github/workflows/dart.yml
  todoliteup_1/.gitignore
  todoliteup_2/lib/screens/account/account_binding.dart
  todoliteup_2/lib/screens/account/account_page.dart
  todoliteup_2/lib/screens/account/animation_bg.dart
  todoliteup_2/lib/screens/account/controllers/account_controller.dart
  todoliteup_2/lib/screens/friends/controllers/friends_controller.dart
  todoliteup_2/lib/screens/friends/friends_binding.dart
  todoliteup_2/lib/screens/friends/friends_page.dart
  todoliteup_2/lib/screens/home/home_page.dart
  todoliteup_2/lib/screens/login/controllers/login_controller.dart
  todoliteup_2/lib/screens/login/login_binding.dart
  todoliteup_2/lib/screens/login/login_page.dart
  todoliteup_2/lib/screens/message/controllers/message_controller.dart
  todoliteup_2/lib/screens/message/message_binding.dart
  todoliteup_2/lib/screens/message/message_page.dart
  todoliteup_2/lib/screens/settings/controllers/settings_controller.dart
  todoliteup_2/lib/screens/settings/settings_binding.dart
  todoliteup_2/lib/screens/settings/settings_page.dart
  todoliteup_2/lib/screens/support/controllers/support_controller.dart
  todoliteup_2/lib/screens/support/support_binding.dart
  todoliteup_2/lib/screens/support/support_page.dart
Due: todo-1, todo-2

Update dart.yml
  .github/workflows/dart.yml
Due: none

update
  todoliteup_2/lib/screens/account/account_page.dart
Due: todo-2
