Repository Kianto/todoliteup: changes, and which Codecov flags are due for each by the changed paths.
All: todo0, todo1, todo2

update
  .github/workflows/pr.yml
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/pr.yml
  .idea/workspace.xml
  todoliteup_2/project.json
Due: todo2

update
  .github/workflows/pr.yml
  .idea/workspace.xml
Due: none

update
  todoliteup_2/project.json
Due: todo2

update
  .github/actions/cache-codecov/action.yml
  .github/workflows/pr.yml
  .idea/workspace.xml
Due: none

update
  .github/actions/cache-codecov/action.yml
  .idea/workspace.xml
Due: none

update
  .github/actions/cache-codecov/action.yml
  .github/workflows/pr.yml
Due: none

update
  .github/actions/cache-codecov/action.yml
Due: none

update
  .github/actions/cache-codecov/action.yml
  .github/workflows/todo0_lcov
  .github/workflows/todo1_lcov
  todolite/project.json
  todoliteup_1/project.json
Due: todo0, todo1

update
  todolite/project.json
Due: todo0

update
  .github/actions/cache-codecov/action.yml
  .idea/workspace.xml
  todolite/ios/Runner.xcodeproj/project.pbxproj
  todoliteup_1/project.json
  todoliteup_2/project.json
Due: todo0, todo1, todo2

Path conditions:
  todo0: any of: todolite/
  todo1: any of: todoliteup_1/
  todo2: any of: todoliteup_2/
